n8n/smarty-automate-workflow-v2.json
{
  "name": "SmartBoard - Let Smarty Do v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "smarty-automate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger-001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        140,
        300
      ],
      "webhookId": "smarty-automate"
    },
    {
      "parameters": {
        "jsCode": "// Prepare the DeepSeek API request body\nconst input = $input.first().json;\n\nconst systemPrompt = `You are a task parser for SmartBoard, a productivity app. Extract the user's intent and required parameters from their natural language request.\n\nSupported actions (use EXACTLY these names):\n1. create_task - Create a new task\n   params: {title: string, description?: string, due_date?: ISO-8601, priority?: 'low'|'medium'|'high', group_name?: string}\n\n2. create_reminder - Set a reminder\n   params: {title: string, remind_at: ISO-8601}\n\n3. create_calendar_event - Schedule an event\n   params: {title: string, start_time: ISO-8601, end_time?: ISO-8601, duration_hours?: number}\n\n4. add_member_to_group - Add someone to a group\n   params: {user_name: string, group_name: string}\n\n5. remove_member_from_group - Remove someone from a group\n   params: {user_name: string, group_name: string}\n\n6. mark_task_done - Mark a task as complete\n   params: {task_title: string}\n\n7. create_group - Create a new group\n   params: {group_name: string}\n\n8. list_group_members - Show group members\n   params: {group_name: string}\n\n9. delete_task - Delete a task\n   params: {task_title: string}\n\n10. update_task - Update a task\n    params: {task_title: string, new_title?: string, due_date?: ISO-8601, priority?: string, description?: string}\n\n11. get_tasks / list_tasks - List user's tasks\n    params: {status?: string, priority?: string}\n\nRules:\n- Parse relative dates like 'tomorrow', 'next week', 'at 3pm' relative to the current date provided\n- For times without dates, assume today (or tomorrow if time already passed)\n- Default duration for events is 1 hour\n- Default priority for tasks is 'medium'\n\nRespond ONLY with valid JSON (no markdown, no explanation):\n{\n  \"action\": \"<action_name>\",\n  \"params\": { <extracted parameters> },\n  \"summary\": \"<human-readable summary of what will happen>\",\n  \"confidence\": <0.0-1.0>\n}\n\nIf the request is unclear or not supported, respond with:\n{\n  \"action\": \"unknown\",\n  \"params\": {},\n  \"summary\": \"I can help you create tasks, reminders, calendar events, manage groups, or mark tasks as done. What would you like to do?\",\n  \"confidence\": 0\n}`;\n\nconst now = new Date();\nconst dateStr = now.toISOString().slice(0, 19).replace('T', ' ');\n\nconst userContent = `User request: ${input.rawText || 'No request provided'}\n\nCurrent date and time: ${dateStr}\nUser timezone: ${input.timezone || 'Asia/Kuala_Lumpur'}`;\n\nreturn [{\n  json: {\n    requestBody: {\n      model: 'deepseek-v3-2-251201',\n      messages: [\n        { role: 'system', content: systemPrompt },\n        { role: 'user', content: userContent }\n      ]\n    },\n    originalRequest: input\n  }\n}];"
      },
      "id": "prepare-request-001",
      "name": "Prepare LLM Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        360,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ark.ap-southeast.bytepluses.com/api/v3/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "deepseek-llm-001",
      "name": "DeepSeek LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        580,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "xukiMKUeCpLfu8nB",
          "name": "DeepSeek BytePlus API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse DeepSeek response and format for backend\nconst llmResponse = $input.first().json;\nconst originalRequest = $('Prepare LLM Request').first().json.originalRequest;\n\nconsole.log('DeepSeek Response:', JSON.stringify(llmResponse, null, 2));\n\ntry {\n  const choices = llmResponse.choices || [];\n  if (choices.length === 0) {\n    throw new Error('No response from DeepSeek');\n  }\n  \n  let content = choices[0].message?.content || '{}';\n  console.log('AI Content:', content);\n  \n  // Clean markdown code blocks if any\n  content = content.trim();\n  if (content.startsWith('```json')) content = content.slice(7);\n  if (content.startsWith('```')) content = content.slice(3);\n  if (content.endsWith('```')) content = content.slice(0, -3);\n  \n  const parsed = JSON.parse(content.trim());\n  console.log('Parsed:', parsed);\n  \n  const SUPPORTED_ACTIONS = [\n    'create_task', 'create_reminder', 'create_calendar_event',\n    'add_member_to_group', 'remove_member_from_group',\n    'mark_task_done', 'create_group', 'list_group_members',\n    'delete_task', 'update_task', 'get_tasks', 'list_tasks'\n  ];\n  \n  if (!SUPPORTED_ACTIONS.includes(parsed.action)) {\n    return [{\n      json: {\n        automation_id: originalRequest.automation_id,\n        success: false,\n        needs_confirmation: false,\n        action: 'unknown',\n        summary: parsed.summary || \"I can help with tasks, reminders, events, and groups. Try: 'Create task Review Report due Friday'\",\n        params: null,\n        confidence: 0\n      }\n    }];\n  }\n  \n  // Success!\n  return [{\n    json: {\n      automation_id: originalRequest.automation_id,\n      user_id: originalRequest.user_id,\n      success: true,\n      needs_confirmation: true,\n      action: parsed.action,\n      params: parsed.params || {},\n      summary: parsed.summary || `Execute ${parsed.action}`,\n      confidence: parsed.confidence || 0.8\n    }\n  }];\n  \n} catch (error) {\n  console.error('Parse error:', error.message);\n  return [{\n    json: {\n      automation_id: originalRequest.automation_id,\n      success: false,\n      needs_confirmation: false,\n      action: 'error',\n      summary: \"I had trouble understanding that. Try: 'Create a high priority task called Review Report for tomorrow'\",\n      params: null,\n      error: error.message,\n      confidence: 0\n    }\n  }];\n}"
      },
      "id": "parse-response-001",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-001",
      "name": "Respond to Backend",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1020,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Prepare LLM Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare LLM Request": {
      "main": [
        [
          {
            "node": "DeepSeek LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek LLM": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Respond to Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}