n8n/SmartBoard - Let Smarty Do v3 (AI Agent) (1).json
{
  "name": "SmartBoard - Let Smarty Do v3 (AI Agent)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "smarty-agent-v3",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "85aa4b93-ed40-47aa-ad46-c69f0e8bb53e",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -160,
        0
      ],
      "webhookId": "smarty-agent-v3"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-pro-preview",
        "options": {}
      },
      "id": "61ed46ac-3d44-427e-ae68-09dd417a8982",
      "name": "Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        0,
        224
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "5diV3LijQLvOheVN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.rawText }}",
        "options": {
          "systemMessage": "=You are Smarty, an intelligent productivity AI assistant for SmartBoard.\\n\\n## Your Mission\\nHelp users manage tasks, reminders, calendar events, and groups through natural language commands.\\n\\n## Available Tools\\n1. **create_task** - Create a new task with title, due date, priority\\n2. **create_reminder** - Set a reminder for a specific time\\n3. **create_event** - Schedule a calendar event\\n4. **list_tasks** - List user's tasks (can filter by status/priority)\\n5. **mark_task_done** - Mark a task as complete\\n6. **manage_group** - Add/remove members from groups\\n\\n## Rules\\n1. ALWAYS use tools to fulfill user requests - never make up data\\n2. Parse relative dates: 'tomorrow' = next day, 'next Friday' = upcoming Friday\\n3. Default priority is 'medium', default event duration is 1 hour\\n4. For ambiguous requests, ask for clarification\\n5. Respond in the same language as the user (Chinese or English)\\n\\n## Response Format\\nAfter using tools, summarize what you did in a friendly, concise way.\\n\\n## Context\\nUser ID: {{ $json.user_id }}\\nCurrent Time: {{ $now.format('yyyy-MM-dd HH:mm') }}\\nTimezone: {{ $json.timezone || 'Asia/Kuala_Lumpur' }}",
          "returnIntermediateSteps": true
        }
      },
      "id": "034fcd2a-54ed-4f68-80d4-7a88195198a0",
      "name": "Smarty AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "description": "Create a new task for the user. Use when user wants to add a task, todo item, or work item.",
        "specifyInputSchema": true,
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\",\n      \"description\": \"The task title/name\"\n    },\n    \"description\": {\n      \"type\": \"string\",\n      \"description\": \"Optional task description\"\n    },\n    \"due_date\": {\n      \"type\": \"string\",\n      \"description\": \"Due date in ISO-8601 format (e.g., 2026-01-26T15:00:00)\"\n    },\n    \"priority\": {\n      \"type\": \"string\",\n      \"enum\": [\"low\", \"medium\", \"high\"],\n      \"description\": \"Task priority level\"\n    },\n    \"group_name\": {\n      \"type\": \"string\",\n      \"description\": \"Optional group name to assign task to\"\n    }\n  },\n  \"required\": [\"title\"]\n}"
      },
      "id": "eebca09d-de0b-4772-b695-289c93762f36",
      "name": "Tool: Create Task",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.2,
      "position": [
        128,
        224
      ]
    },
    {
      "parameters": {
        "description": "Create a reminder for the user at a specific time",
        "jsCode": "// Tool: create_reminder\nconst params = $input.all()[0].json;\n\nreturn {\n  json: {\n    tool_call: 'create_reminder',\n    params: {\n      title: params.title,\n      remind_at: params.remind_at\n    },\n    needs_confirmation: true,\n    summary: `Reminder set: \"${params.title}\" at ${params.remind_at}`\n  }\n};",
        "specifyInputSchema": true,
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\",\n      \"description\": \"What to remind about\"\n    },\n    \"remind_at\": {\n      \"type\": \"string\",\n      \"description\": \"When to remind in ISO-8601 format\"\n    }\n  },\n  \"required\": [\"title\", \"remind_at\"]\n}"
      },
      "id": "794780f1-a70d-46d2-ae5b-d20b1443a7e9",
      "name": "Tool: Create Reminder",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.2,
      "position": [
        256,
        224
      ]
    },
    {
      "parameters": {
        "description": "Create a calendar event for the user",
        "jsCode": "// Tool: create_event\nconst params = $input.all()[0].json;\n\nreturn {\n  json: {\n    tool_call: 'create_calendar_event',\n    params: {\n      title: params.title,\n      start_time: params.start_time,\n      end_time: params.end_time || null,\n      duration_hours: params.duration_hours || 1\n    },\n    needs_confirmation: true,\n    summary: `Event scheduled: \"${params.title}\" at ${params.start_time}`\n  }\n};",
        "specifyInputSchema": true,
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\",\n      \"description\": \"Event title\"\n    },\n    \"start_time\": {\n      \"type\": \"string\",\n      \"description\": \"Event start time in ISO-8601\"\n    },\n    \"end_time\": {\n      \"type\": \"string\",\n      \"description\": \"Optional end time\"\n    },\n    \"duration_hours\": {\n      \"type\": \"number\",\n      \"description\": \"Duration in hours (default 1)\"\n    }\n  },\n  \"required\": [\"title\", \"start_time\"]\n}"
      },
      "id": "89367dee-b09f-4cfd-a2ca-46672f3089ec",
      "name": "Tool: Create Event",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.2,
      "position": [
        384,
        224
      ]
    },
    {
      "parameters": {
        "description": "List user's tasks, optionally filtered by status or priority",
        "jsCode": "// Tool: list_tasks\nconst params = $input.all()[0].json;\n\nreturn {\n  json: {\n    tool_call: 'list_tasks',\n    params: {\n      status: params.status || null,\n      priority: params.priority || null\n    },\n    needs_confirmation: false,\n    summary: `Fetching tasks${params.status ? ` with status: ${params.status}` : ''}${params.priority ? ` with priority: ${params.priority}` : ''}`\n  }\n};",
        "specifyInputSchema": true,
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"status\": {\n      \"type\": \"string\",\n      \"enum\": [\"todo\", \"in_progress\", \"done\"],\n      \"description\": \"Optional filter by task status\"\n    },\n    \"priority\": {\n      \"type\": \"string\",\n      \"enum\": [\"low\", \"medium\", \"high\"],\n      \"description\": \"Optional filter by priority\"\n    }\n  }\n}"
      },
      "id": "035228c4-6c67-4338-8ab9-902411683781",
      "name": "Tool: List Tasks",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.2,
      "position": [
        512,
        224
      ]
    },
    {
      "parameters": {
        "description": "Mark a task as complete/done",
        "jsCode": "// Tool: mark_task_done\nconst params = $input.all()[0].json;\n\nreturn {\n  json: {\n    tool_call: 'mark_task_done',\n    params: {\n      task_title: params.task_title\n    },\n    needs_confirmation: true,\n    summary: `Mark task \"${params.task_title}\" as completed`\n  }\n};",
        "specifyInputSchema": true,
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"task_title\": {\n      \"type\": \"string\",\n      \"description\": \"The title of the task to mark as done\"\n    }\n  },\n  \"required\": [\"task_title\"]\n}"
      },
      "id": "7917e51f-7d6a-4ab1-8a0b-585dbdbc465f",
      "name": "Tool: Mark Done",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.2,
      "position": [
        640,
        224
      ]
    },
    {
      "parameters": {
        "description": "Add or remove a member from a group",
        "jsCode": "// Tool: manage_group\nconst params = $input.all()[0].json;\n\nreturn {\n  json: {\n    tool_call: params.action === 'add' ? 'add_member_to_group' : 'remove_member_from_group',\n    params: {\n      user_name: params.user_name,\n      group_name: params.group_name,\n      action: params.action\n    },\n    needs_confirmation: true,\n    summary: `${params.action === 'add' ? 'Add' : 'Remove'} ${params.user_name} ${params.action === 'add' ? 'to' : 'from'} group \"${params.group_name}\"`\n  }\n};",
        "specifyInputSchema": true,
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"action\": {\n      \"type\": \"string\",\n      \"enum\": [\"add\", \"remove\"],\n      \"description\": \"Action to perform\"\n    },\n    \"user_name\": {\n      \"type\": \"string\",\n      \"description\": \"Name of the user to add/remove\"\n    },\n    \"group_name\": {\n      \"type\": \"string\",\n      \"description\": \"Name of the target group\"\n    }\n  },\n  \"required\": [\"action\", \"user_name\", \"group_name\"]\n}"
      },
      "id": "4af7c0fa-cb28-4dfb-82ef-c6503d0ac992",
      "name": "Tool: Manage Group",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.2,
      "position": [
        768,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "// Format the AI Agent response for backend\nconst agentOutput = $input.first().json;\nconst originalRequest = $('Webhook Trigger').first().json;\n\n// Extract tool calls from agent's intermediate steps\nlet toolCalls = [];\nlet finalAnswer = agentOutput.output || agentOutput.text || '';\n\nif (agentOutput.intermediateSteps) {\n  toolCalls = agentOutput.intermediateSteps.map(step => ({\n    tool: step.action?.tool || 'unknown',\n    input: step.action?.toolInput || {},\n    output: step.observation || ''\n  }));\n}\n\n// Determine if confirmation is needed\nconst needsConfirmation = toolCalls.some(tc => {\n  const output = typeof tc.output === 'string' ? JSON.parse(tc.output || '{}') : tc.output;\n  return output.needs_confirmation === true;\n});\n\n// Build structured response\nconst response = {\n  automation_id: originalRequest.automation_id,\n  user_id: originalRequest.user_id,\n  success: true,\n  needs_confirmation: needsConfirmation,\n  action: toolCalls.length > 0 ? toolCalls[0].tool : 'chat',\n  params: toolCalls.length > 0 ? toolCalls[0].input : {},\n  summary: finalAnswer,\n  tool_calls: toolCalls,\n  confidence: 0.9\n};\n\nreturn [{ json: response }];"
      },
      "id": "219a2283-fbc7-4087-8cac-924ba8f75805",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "c67c224e-5f3b-43d1-b958-26ddeecdae62",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1344,
        0
      ]
    },
    {
      "parameters": {
        "tableId": "calendar_events",
        "dataToSend": "autoMapInputData",
        "inputsToIgnore": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Inputs_to_Ignore', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        896,
        224
      ],
      "id": "a51b3fd2-c957-4078-be63-259f25593f71",
      "name": "Create a row in Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "t9tZXllBpQmITCOY",
          "name": "aziel supa"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "calendar_events"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        1024,
        224
      ],
      "id": "03bf6017-a6af-41ed-97af-12515e2497cc",
      "name": "Get many rows in Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "t9tZXllBpQmITCOY",
          "name": "aziel supa"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Smarty AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Smarty AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Create Task": {
      "ai_tool": [
        [
          {
            "node": "Smarty AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Create Reminder": {
      "ai_tool": [
        [
          {
            "node": "Smarty AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Create Event": {
      "ai_tool": [
        [
          {
            "node": "Smarty AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: List Tasks": {
      "ai_tool": [
        [
          {
            "node": "Smarty AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Mark Done": {
      "ai_tool": [
        [
          {
            "node": "Smarty AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Manage Group": {
      "ai_tool": [
        [
          {
            "node": "Smarty AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Smarty AI Agent": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row in Supabase": {
      "ai_tool": [
        [
          {
            "node": "Smarty AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows in Supabase": {
      "ai_tool": [
        [
          {
            "node": "Smarty AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "e042b71d-7f69-4f49-b650-ca62e227a32e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "398f23e3acc16d327f5c45cd47b94faa8a99cc1090fbefa83f4ca66ed493efe3"
  },
  "id": "2AEj0KidN1SOszWtHv0yb",
  "tags": [
    {
      "updatedAt": "2026-01-25T08:32:19.209Z",
      "createdAt": "2026-01-25T08:32:19.209Z",
      "id": "LEfRTziBzLGvxdTi",
      "name": "Automation"
    },
    {
      "updatedAt": "2026-01-25T08:32:19.230Z",
      "createdAt": "2026-01-25T08:32:19.230Z",
      "id": "PN2Zw3HS5c9kZkOf",
      "name": "SmartBoard"
    },
    {
      "updatedAt": "2026-01-25T08:32:19.183Z",
      "createdAt": "2026-01-25T08:32:19.183Z",
      "id": "n1uLKi84srYyAgj1",
      "name": "AI Agent"
    }
  ]
}