n8n/smarty-agent-workflow-v4.json
{
  "name": "SmartBoard - Let Smarty Do v4 (Intent Parser)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "smarty-agent-v4",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger-v4",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -160,
        0
      ],
      "webhookId": "smarty-agent-v4"
    },
    {
      "parameters": {
        "model": "llama-3.1-70b-versatile",
        "options": {
          "baseURL": "https://api.groq.com/openai/v1",
          "temperature": 0.2,
          "maxTokens": 1024
        }
      },
      "id": "groq-llama-model",
      "name": "Groq Llama 3.1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        100,
        224
      ],
      "credentials": {
        "openAiApi": {
          "id": "GROQ_CREDENTIAL_ID",
          "name": "Groq API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.rawText }}",
        "options": {
          "systemMessage": "You are Smarty, an AI assistant for SmartBoard task management.\n\n## Your Role\nParse user requests and return structured JSON for the backend to execute. You do NOT execute actions directly.\n\n## Available Actions\n1. `create_task` - Create a new task\n2. `create_reminder` - Set a reminder\n3. `create_calendar_event` - Schedule an event\n4. `list_tasks` - List user's tasks\n5. `mark_task_done` - Mark a task as completed\n6. `update_task` - Update task details\n7. `delete_task` - Delete a task\n\n## Output Format\nYou MUST call the `parse_intent` tool with your analysis. Always include:\n- `action`: One of the actions above\n- `params`: Object with relevant parameters\n- `summary`: Human-readable description in user's language\n\n## Parameter Schemas\n\n### create_task\n- `title` (required): Task title\n- `due_date` (optional): ISO-8601 datetime\n- `priority` (optional): 'low', 'medium', 'high'\n- `group_name` (optional): Group to assign to\n\n### create_reminder\n- `title` (required): Reminder title\n- `remind_at` (required): ISO-8601 datetime\n\n### create_calendar_event\n- `title` (required): Event title\n- `start_time` (required): ISO-8601 datetime\n- `end_time` (optional): ISO-8601 datetime\n- `duration_hours` (optional): Duration if no end_time\n\n### list_tasks\n- `status` (optional): 'todo', 'in_progress', 'done'\n- `priority` (optional): 'low', 'medium', 'high'\n\n### mark_task_done\n- `task_title` (required): Title of task to mark done\n\n### update_task\n- `task_title` (required): Title of task to update\n- `new_title` (optional): New title\n- `due_date` (optional): New due date\n- `priority` (optional): New priority\n\n### delete_task\n- `task_title` (required): Title of task to delete\n\n## Date Parsing Rules\n- Current time: {{ $now.format('yyyy-MM-dd HH:mm') }}\n- Timezone: {{ $json.body.timezone || 'Asia/Kuala_Lumpur' }}\n- 'tomorrow' = next day at specified time\n- 'next Monday' = upcoming Monday\n- '下午3点' = 15:00\n- Always output ISO-8601 format\n\n## Examples\nUser: \"帮我明天下午3点设一个开会的提醒\"\nAction: create_reminder\nParams: {\"title\": \"开会\", \"remind_at\": \"2026-02-07T15:00:00+08:00\"}\nSummary: \"好的，我会帮你设置明天下午3点的开会提醒\"\n\nUser: \"Create a task to review report by Friday\"\nAction: create_task\nParams: {\"title\": \"Review report\", \"due_date\": \"2026-02-07T23:59:00+08:00\", \"priority\": \"medium\"}\nSummary: \"I'll create a task to review the report, due by Friday\"",
          "returnIntermediateSteps": true
        }
      },
      "id": "smarty-ai-agent-v4",
      "name": "Smarty AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        320,
        0
      ]
    },
    {
      "parameters": {
        "description": "Parse user intent and return structured action+params for backend execution. This is the ONLY tool you should use.",
        "specifyInputSchema": true,
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"action\": {\n      \"type\": \"string\",\n      \"description\": \"The action to perform\",\n      \"enum\": [\"create_task\", \"create_reminder\", \"create_calendar_event\", \"list_tasks\", \"mark_task_done\", \"update_task\", \"delete_task\", \"unknown\"]\n    },\n    \"params\": {\n      \"type\": \"object\",\n      \"description\": \"Parameters for the action\"\n    },\n    \"summary\": {\n      \"type\": \"string\",\n      \"description\": \"Human-readable summary of what will be done, in user's language\"\n    },\n    \"needs_confirmation\": {\n      \"type\": \"boolean\",\n      \"description\": \"Whether this action needs user confirmation. Set to true for create/update/delete actions.\"\n    }\n  },\n  \"required\": [\"action\", \"params\", \"summary\", \"needs_confirmation\"]\n}",
        "jsCode": "// Simply return the parsed intent as-is for the backend\nconst { action, params, summary, needs_confirmation } = $input.item.json;\n\nreturn {\n  success: true,\n  action: action || 'unknown',\n  params: params || {},\n  summary: summary || 'Unable to parse request',\n  needs_confirmation: needs_confirmation !== false\n};"
      },
      "id": "parse-intent-tool",
      "name": "Parse Intent",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.2,
      "position": [
        100,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Format the AI Agent response for backend\nconst agentOutput = $input.first().json;\nconst originalRequest = $('Webhook Trigger').first().json;\n\n// Extract the tool call result\nlet result = {\n  success: false,\n  action: 'unknown',\n  params: {},\n  summary: 'Unable to process request',\n  needs_confirmation: true\n};\n\n// Check intermediate steps for tool call result\nif (agentOutput.intermediateSteps && agentOutput.intermediateSteps.length > 0) {\n  const lastStep = agentOutput.intermediateSteps[agentOutput.intermediateSteps.length - 1];\n  if (lastStep.observation) {\n    try {\n      const parsed = typeof lastStep.observation === 'string' \n        ? JSON.parse(lastStep.observation) \n        : lastStep.observation;\n      result = { ...result, ...parsed };\n    } catch (e) {\n      // If parsing fails, use the raw observation as summary\n      result.summary = String(lastStep.observation);\n    }\n  }\n}\n\n// If no tool was called, try to parse the final output\nif (result.action === 'unknown' && agentOutput.output) {\n  result.summary = agentOutput.output;\n}\n\n// Build final response\nconst response = {\n  success: result.success !== false,\n  action: result.action,\n  params: result.params,\n  summary: result.summary,\n  needs_confirmation: result.needs_confirmation !== false,\n  automation_id: originalRequest.body?.automation_id,\n  user_id: originalRequest.body?.user_id,\n  timestamp: new Date().toISOString()\n};\n\nreturn [{ json: response }];"
      },
      "id": "format-response-v4",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-webhook-v4",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1000,
        0
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Smarty AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Llama 3.1": {
      "ai_languageModel": [
        [
          {
            "node": "Smarty AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse Intent": {
      "ai_tool": [
        [
          {
            "node": "Smarty AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Smarty AI Agent": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}