n8n/smarty-automate-workflow.json
{
  "name": "SmartBoard - Let Smarty Do",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "smarty-automate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c1a2b3c4-0001-0001-0001-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "smarty-automate"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ark.ap-southeast.bytepluses.com/api/v3/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"deepseek-v3-2-251201\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a task parser for SmartBoard, a productivity app. Extract the user's intent and required parameters from their natural language request.\\n\\nSupported actions (use EXACTLY these names):\\n1. create_task - Create a new task\\n   params: {title: string, description?: string, due_date?: ISO-8601, priority?: 'low'|'medium'|'high', group_name?: string}\\n\\n2. create_reminder - Set a reminder\\n   params: {title: string, remind_at: ISO-8601}\\n\\n3. create_calendar_event - Schedule an event\\n   params: {title: string, start_time: ISO-8601, end_time?: ISO-8601, duration_hours?: number}\\n\\n4. add_member_to_group - Add someone to a group\\n   params: {user_name: string, group_name: string}\\n\\n5. remove_member_from_group - Remove someone from a group\\n   params: {user_name: string, group_name: string}\\n\\n6. mark_task_done - Mark a task as complete\\n   params: {task_title: string}\\n\\n7. create_group - Create a new group\\n   params: {group_name: string}\\n\\n8. list_group_members - Show group members\\n   params: {group_name: string}\\n\\nRules:\\n- Parse relative dates like 'tomorrow', 'next week', 'at 3pm' relative to the current date provided\\n- For times without dates, assume today (or tomorrow if time already passed)\\n- Default duration for events is 1 hour\\n- Default priority for tasks is 'medium'\\n\\nRespond ONLY with valid JSON (no markdown, no explanation):\\n{\\n  \\\"action\\\": \\\"<action_name>\\\",\\n  \\\"params\\\": { <extracted parameters> },\\n  \\\"summary\\\": \\\"<human-readable summary of what will happen>\\\",\\n  \\\"confidence\\\": <0.0-1.0>\\n}\\n\\nIf the request is unclear or not supported, respond with:\\n{\\n  \\\"action\\\": \\\"unknown\\\",\\n  \\\"params\\\": {},\\n  \\\"summary\\\": \\\"I can help you create tasks, reminders, calendar events, manage groups, or mark tasks as done. What would you like to do?\\\",\\n  \\\"confidence\\\": 0\\n}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"User request: {{ $json.rawText }}\\n\\nCurrent date and time: {{ $now.format('yyyy-MM-dd HH:mm:ss') }}\\nUser timezone: {{ $json.timezone || 'Asia/Kuala_Lumpur' }}\"\n    }\n  ]\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "c1a2b3c4-0002-0002-0002-000000000002",
      "name": "DeepSeek LLM - Parse Intent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_DEEPSEEK_CREDENTIAL_ID",
          "name": "DeepSeek BytePlus API"
        }
      },
      "notes": "Calls DeepSeek v3.2 via BytePlus API to parse natural language into structured intent + params"
    },
    {
      "parameters": {
        "jsCode": "// Parse the DeepSeek LLM response and format for backend\nconst llmResponse = $input.first().json;\nconst originalRequest = $('Webhook Trigger').first().json;\n\nconsole.log('DeepSeek Response:', JSON.stringify(llmResponse, null, 2));\n\ntry {\n  // Extract the AI response content\n  const choices = llmResponse.choices || [];\n  if (choices.length === 0) {\n    throw new Error('No response from DeepSeek');\n  }\n  \n  const content = choices[0].message?.content || '{}';\n  console.log('AI Content:', content);\n  \n  // Clean and parse JSON (handle markdown code blocks if any)\n  let cleanContent = content.trim();\n  if (cleanContent.startsWith('```json')) {\n    cleanContent = cleanContent.slice(7);\n  }\n  if (cleanContent.startsWith('```')) {\n    cleanContent = cleanContent.slice(3);\n  }\n  if (cleanContent.endsWith('```')) {\n    cleanContent = cleanContent.slice(0, -3);\n  }\n  \n  const parsed = JSON.parse(cleanContent.trim());\n  console.log('Parsed:', parsed);\n  \n  // Validate action is in our supported list\n  const SUPPORTED_ACTIONS = [\n    'create_task',\n    'create_reminder', \n    'create_calendar_event',\n    'add_member_to_group',\n    'remove_member_from_group',\n    'mark_task_done',\n    'create_group',\n    'list_group_members'\n  ];\n  \n  if (!SUPPORTED_ACTIONS.includes(parsed.action)) {\n    console.log('Unsupported action:', parsed.action);\n    return [{\n      json: {\n        automation_id: originalRequest.automation_id,\n        success: false,\n        needs_confirmation: false,\n        action: 'unknown',\n        summary: parsed.summary || \"I can help you create tasks, reminders, calendar events, manage groups, or mark tasks as done. What would you like to do?\",\n        params: null,\n        confidence: 0\n      }\n    }];\n  }\n  \n  // Success - return parsed intent\n  return [{\n    json: {\n      automation_id: originalRequest.automation_id,\n      user_id: originalRequest.user_id,\n      success: true,\n      needs_confirmation: true,\n      action: parsed.action,\n      params: parsed.params || {},\n      summary: parsed.summary || `Execute ${parsed.action}`,\n      confidence: parsed.confidence || 0.8\n    }\n  }];\n  \n} catch (error) {\n  console.error('Parse error:', error.message);\n  return [{\n    json: {\n      automation_id: originalRequest.automation_id,\n      success: false,\n      needs_confirmation: false,\n      action: 'error',\n      summary: \"I had trouble understanding that. Try something like 'Create a task called Review Report' or 'Remind me about meeting at 3pm'.\",\n      params: null,\n      error: error.message,\n      confidence: 0\n    }\n  }];\n}"
      },
      "id": "c1a2b3c4-0003-0003-0003-000000000003",
      "name": "Parse & Validate Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        300
      ],
      "notes": "Extracts JSON from DeepSeek response, validates action is supported, formats response for backend"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "c1a2b3c4-0004-0004-0004-000000000004",
      "name": "Respond to Backend",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        960,
        300
      ],
      "notes": "Returns the parsed intent back to the SmartBoard backend"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "DeepSeek LLM - Parse Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek LLM - Parse Intent": {
      "main": [
        [
          {
            "node": "Parse & Validate Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Validate Response": {
      "main": [
        [
          {
            "node": "Respond to Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "smartboard"
    },
    {
      "name": "automation"
    },
    {
      "name": "deepseek"
    }
  ],
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "smartboard-fyp"
  }
}