n8n/SmartBoard - Let Smarty Do v5 (Fixed v3).json
{
  "name": "SmartBoard - Let Smarty Do v5 (Fixed v3)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "smarty-agent-v5",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger-v5",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -900,
        0
      ],
      "webhookId": "smarty-agent-v5"
    },
    {
      "parameters": {
        "jsCode": "// Pre-calculate dates for AI context\nconst now = new Date();\nconst timezone = $json.body.timezone || 'Asia/Kuala_Lumpur';\n\n// Helper to format date as ISO-8601 with timezone\nfunction toISO(date) {\n  return date.toISOString().replace('Z', '+08:00');\n}\n\n// Calculate reference dates\nconst today = new Date(now);\ntoday.setHours(0, 0, 0, 0);\n\nconst tomorrow = new Date(today);\ntomorrow.setDate(tomorrow.getDate() + 1);\n\nconst nextWeek = new Date(today);\nnextWeek.setDate(nextWeek.getDate() + 7);\n\nreturn [{\n  json: {\n    ...($json),\n    context: {\n      today_date: today.toISOString().split('T')[0],\n      tomorrow_date: tomorrow.toISOString().split('T')[0],\n      next_week_date: nextWeek.toISOString().split('T')[0],\n      current_time: now.toTimeString().split(' ')[0].substring(0, 5),\n      timezone: timezone,\n      user_id: $json.body.user_id,\n      rawText: $json.body.rawText\n    }\n  }\n}];"
      },
      "id": "prepare-context",
      "name": "Prepare Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -700,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.context.rawText }}",
        "options": {
          "systemMessage": "You are Smarty, a task automation assistant for SmartBoard. Analyze the user's request and perform the appropriate action.\n\nCURRENT CONTEXT:\n- Today's date: {{ $json.context.today_date }}\n- Current time: {{ $json.context.current_time }}\n- User ID: {{ $json.context.user_id }}\n- Timezone: {{ $json.context.timezone }} (+08:00)\n\nDATE EXAMPLES (use these EXACT formats):\n- 'today' means: {{ $json.context.today_date }}\n- 'tomorrow' means: {{ $json.context.tomorrow_date }}\n- 'next week' means: {{ $json.context.next_week_date }}\n\nWhen user says 'tomorrow at 9am', output: {{ $json.context.tomorrow_date }}T09:00:00+08:00\nWhen user says 'today at 3pm', output: {{ $json.context.today_date }}T15:00:00+08:00\n\nACTIONS:\n1. CREATE CALENDAR EVENT or REMINDER - meetings/appointments/reminders (saved to calendar_events table)\n2. CREATE TASK - todos/assignments\n3. LIST TASKS - show user's tasks\n4. MARK TASK DONE - complete a task\n\nCRITICAL RULES:\n- Output dates as ACTUAL values like 2026-02-08T09:00:00+08:00\n- NEVER output template expressions like {{ $now... }}\n- Always include +08:00 timezone offset\n- For events/reminders: if no end_time specified, set it to same day at 23:59:00+08:00\n- For tasks: if no due date specified, use the date only (no time). If time mentioned, append T23:59:00+08:00\n- For tasks: if no priority specified, default to 'low'\n- Both 'create reminder' and 'create event' use the same create_calendar_event tool"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -500,
        0
      ],
      "id": "ai-agent-v5",
      "name": "Smarty AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -600,
        220
      ],
      "id": "groq-model-v5",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "vusEVQGmYnv0fM5b",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "name": "create_calendar_event",
        "description": "Create a new calendar event, meeting, or reminder. Requires title and start_time. Use this for both events AND reminders. If end_time is not specified, default to same day at 23:59:00+08:00.",
        "tableId": "calendar_events",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "title",
              "fieldValue": "={{ $fromAI('title', 'Event or reminder title') }}"
            },
            {
              "fieldId": "description",
              "fieldValue": "={{ $fromAI('description', 'Optional description or remarks, empty string if not provided') }}"
            },
            {
              "fieldId": "start_time",
              "fieldValue": "={{ $fromAI('start_time', 'Start time as ISO-8601 timestamp like 2026-02-08T09:00:00+08:00') }}"
            },
            {
              "fieldId": "end_time",
              "fieldValue": "={{ $fromAI('end_time', 'End time as ISO-8601 timestamp. If not specified by user, default to same day at 23:59:00+08:00') }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Prepare Context').item.json.context.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -400,
        220
      ],
      "id": "tool-create-event",
      "name": "Create Event Tool",
      "credentials": {
        "supabaseApi": {
          "id": "t9tZXllBpQmITCOY",
          "name": "aziel supa"
        }
      }
    },
    {
      "parameters": {
        "name": "create_task",
        "description": "Create a new task or todo item. Title is required. Priority defaults to 'low' if not specified. If due date has no time, use the date with T23:59:00+08:00.",
        "tableId": "tasks",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "title",
              "fieldValue": "={{ $fromAI('title', 'Task title') }}"
            },
            {
              "fieldId": "description",
              "fieldValue": "={{ $fromAI('description', 'Optional task description or notes, empty string if not provided') }}"
            },
            {
              "fieldId": "due_date",
              "fieldValue": "={{ $fromAI('due_date', 'Due date as ISO-8601 like 2026-02-08T23:59:00+08:00. If only date given, append T23:59:00+08:00. Empty string if not specified.') }}"
            },
            {
              "fieldId": "priority",
              "fieldValue": "={{ $fromAI('priority', 'Priority level: low, medium, or high. Default to low if not specified') }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "todo"
            },
            {
              "fieldId": "created_by",
              "fieldValue": "={{ $('Prepare Context').item.json.context.user_id }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Prepare Context').item.json.context.user_id }}"
            },
            {
              "fieldId": "assigned_to",
              "fieldValue": "={{ $('Prepare Context').item.json.context.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -280,
        220
      ],
      "id": "tool-create-task",
      "name": "Create Task Tool",
      "credentials": {
        "supabaseApi": {
          "id": "t9tZXllBpQmITCOY",
          "name": "aziel supa"
        }
      }
    },
    {
      "parameters": {
        "name": "list_tasks",
        "description": "List all tasks for the current user.",
        "tableId": "tasks",
        "operation": "getMany",
        "returnAll": true,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "keyName": "created_by",
              "condition": "eq",
              "keyValue": "={{ $('Prepare Context').item.json.context.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        80,
        220
      ],
      "id": "tool-list-tasks",
      "name": "List Tasks Tool",
      "credentials": {
        "supabaseApi": {
          "id": "t9tZXllBpQmITCOY",
          "name": "aziel supa"
        }
      }
    },
    {
      "parameters": {
        "name": "mark_task_done",
        "description": "Mark a task as completed by matching task name.",
        "tableId": "tasks",
        "operation": "update",
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "keyName": "title",
              "condition": "ilike",
              "keyValue": "=%{{ $fromAI('task_name', 'Task name to mark as done') }}%"
            },
            {
              "keyName": "created_by",
              "condition": "eq",
              "keyValue": "={{ $('Prepare Context').item.json.context.user_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "done"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        200,
        220
      ],
      "id": "tool-mark-done",
      "name": "Mark Done Tool",
      "credentials": {
        "supabaseApi": {
          "id": "t9tZXllBpQmITCOY",
          "name": "aziel supa"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Enhanced Response Formatting\nconst agentOutput = $input.first().json;\nconst toolCalls = agentOutput.intermediateSteps || [];\n\nlet summary = agentOutput.output || 'Action processed.';\nlet actionType = 'unknown';\nlet details = {};\n\nif (toolCalls.length > 0) {\n  const lastStep = toolCalls[toolCalls.length - 1];\n  const toolName = lastStep.action?.tool || lastStep.action || '';\n  \n  try { \n    details = typeof lastStep.observation === 'string' \n      ? JSON.parse(lastStep.observation) \n      : lastStep.observation || {}; \n  } catch(e) { \n    details = {}; \n  }\n\n  switch(toolName) {\n    case 'create_calendar_event':\n      summary = `✅ Created event \"${details.title}\"`;\n      actionType = 'event_created';\n      break;\n    case 'create_task':\n      summary = `✅ Created task \"${details.title}\"`;\n      actionType = 'task_created';\n      break;\n    case 'create_reminder':\n      const remindTime = details.remind_time \n        ? new Date(details.remind_time).toLocaleString('en-MY', { timeZone: 'Asia/Kuala_Lumpur' })\n        : 'scheduled time';\n      summary = `✅ Reminder set: \"${details.message}\" for ${remindTime}`;\n      actionType = 'reminder_created';\n      break;\n    case 'delete_reminder':\n      summary = `✅ Cancelled reminder(s) matching your request.`;\n      actionType = 'reminder_deleted';\n      break;\n    case 'list_tasks':\n      const tasks = Array.isArray(details) ? details : (details.data || []);\n      if (tasks.length === 0) {\n        summary = `📋 You have no tasks.`;\n      } else {\n        const taskList = tasks.slice(0, 5).map(t => `• ${t.title}`).join('\\n');\n        summary = `📋 Found ${tasks.length} task(s):\\n${taskList}`;\n        if (tasks.length > 5) summary += `\\n... and ${tasks.length - 5} more`;\n      }\n      actionType = 'tasks_listed';\n      break;\n    case 'mark_task_done':\n      summary = `✅ Marked task as done.`;\n      actionType = 'task_completed';\n      break;\n  }\n}\n\nreturn [{\n  json: {\n    success: true,\n    executed: true,\n    action_type: actionType,\n    summary: summary,\n    details: details,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "format-response-v3",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-webhook-v3",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        620,
        0
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Prepare Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Context": {
      "main": [
        [
          {
            "node": "Smarty AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Smarty AI Agent": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Smarty AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create Event Tool": {
      "ai_tool": [
        [
          {
            "node": "Smarty AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Task Tool": {
      "ai_tool": [
        [
          {
            "node": "Smarty AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "List Tasks Tool": {
      "ai_tool": [
        [
          {
            "node": "Smarty AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mark Done Tool": {
      "ai_tool": [
        [
          {
            "node": "Smarty AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [],
  "meta": {
    "templateCredsSetupCompleted": true
  }
}