n8n/SmartBoard - Let Smarty Do v6 (Fixed).json
{
  "name": "SmartBoard - Let Smarty Do v6 (Fixed)",
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "tasks",
        "filters": {
          "conditions": [
            {
              "keyName": "assignee_id",
              "condition": "eq",
              "keyValue": "={{ $json.context.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        6704,
        5696
      ],
      "id": "819a9571-baeb-492e-96a5-bcaaac5fdf80",
      "name": "List Tasks Tool1",
      "credentials": {
        "supabaseApi": {
          "id": "t9tZXllBpQmITCOY",
          "name": "aziel supa"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "calendar_events",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $json.context.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        6832,
        5696
      ],
      "id": "7b7e0b1e-0f86-4c3c-aa99-6b6a106a125a",
      "name": "list all calendar event tools",
      "credentials": {
        "supabaseApi": {
          "id": "t9tZXllBpQmITCOY",
          "name": "aziel supa"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "tasks",
        "filters": {
          "conditions": [
            {
              "keyName": "title",
              "condition": "ilike",
              "keyValue": "={{ '%' + $fromAI('task_name', 'Task name to mark as done') + '%' }}"
            },
            {
              "keyName": "assignee_id",
              "condition": "eq",
              "keyValue": "={{ $('Prepare Context').item.json.context.user_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "done"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        6960,
        5696
      ],
      "id": "8a99db84-f465-4d0d-8c66-3f516a7ec433",
      "name": "Mark Done Tool1",
      "credentials": {
        "supabaseApi": {
          "id": "t9tZXllBpQmITCOY",
          "name": "aziel supa"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "smarty-agent-v5",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "91b79736-9e5c-4178-b5ff-cf064e76b33c",
      "name": "Webhook Trigger1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        6128,
        5472
      ],
      "webhookId": "smarty-agent-v5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.context.rawText }}",
        "options": {
          "systemMessage": "=You are Smarty, a task automation assistant for SmartBoard. Analyze the user's request and perform the appropriate action.\n\nCURRENT CONTEXT:\n- Today's date: {{ $json.context.today_date }}\n- Current time: {{ $json.context.current_time }}\n- User ID: {{ $json.context.user_id }}\n- Timezone: +08:00\n\nDATE EXAMPLES (use these EXACT formats):\n- 'today' means: {{ $json.context.today_date }}\n- 'tomorrow' means: {{ $json.context.tomorrow_date }}\n- 'tomorrow at 9am': {{ $json.context.tomorrow_date }}T09:00:00+08:00\n- 'today at 3pm': {{ $json.context.today_date }}T15:00:00+08:00\n\nACTIONS:\n1. CREATE CALENDAR EVENT or REMINDER\n2. CREATE TASK\n3. LIST TASKS\n4. LIST EVENTS\n5. MARK TASK DONE\n6. DELETE EVENT\n\nCRITICAL RULES:\n- Output dates as ACTUAL values like 2026-02-08T09:00:00+08:00\n- NEVER output template expressions like {{ $now... }}\n- Always include +08:00 timezone offset\n- For events: if no end_time, default to same day 23:59:00+08:00\n- For tasks: if no due date, use date only. Default priority: 'low'\n- FORMATTING: Use simple bullet points for all lists (e.g., • Task Title)"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        6896,
        5472
      ],
      "id": "fcf59fd9-336c-4682-a125-77d920b2e7ba",
      "name": "Smarty AI Agent1"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        6576,
        5696
      ],
      "id": "2e217d57-0209-4bf4-a422-bc612b67c3ad",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "vusEVQGmYnv0fM5b",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "calendar_events",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "title",
              "fieldValue": "={{ $fromAI('title', 'Event or reminder title') }}"
            },
            {
              "fieldId": "description",
              "fieldValue": "={{ $fromAI('description', 'Optional description or remarks, empty string if not provided') }}"
            },
            {
              "fieldId": "start_time",
              "fieldValue": "={{ $fromAI('start_time', 'Start time as ISO-8601 timestamp like 2026-02-08T09:00:00+08:00') }}"
            },
            {
              "fieldId": "end_time",
              "fieldValue": "={{ $fromAI('end_time', 'End time as ISO-8601 timestamp. If not specified by user, default to same day at 23:59:00+08:00') }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Prepare Context').item.json.context.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        7088,
        5696
      ],
      "id": "c922d9dd-7f69-4306-a5b0-a6686bd2ea0b",
      "name": "Create Event Tool1",
      "credentials": {
        "supabaseApi": {
          "id": "t9tZXllBpQmITCOY",
          "name": "aziel supa"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const out = $input.first().json;\nconst steps = out.intermediateSteps || [];\nif (steps.length === 0) return [{ json: { success: true, summary: (out.output || 'Done').substring(0, 100) } }];\n\nconst last = steps[steps.length - 1];\nconst tool = (last.action?.tool || last.action || '').toLowerCase();\nlet data = {};\ntry { data = typeof last.observation === 'string' ? JSON.parse(last.observation) : last.observation; } catch { data = last.observation || {}; }\n\nconst item = Array.isArray(data) ? data[0] : (data.data && Array.isArray(data.data) ? data.data[0] : data);\nlet msg = '✅ Done';\n\nif (tool.includes('list')) {\n  const arr = Array.isArray(data) ? data : (data.data || []);\n  msg = arr.length ? arr.map(t => `• ${t.title}`).join('\\n') : 'No items found.';\n} else if (tool.includes('create')) {\n  msg = `✅ Created: ${item.title}${item.description ? ' (' + item.description + ')' : ''}`;\n} else if (tool.includes('mark') || tool.includes('done')) {\n  msg = `✅ Done: ${item.title || 'Task'}`;\n} else if (tool.includes('delete')) {\n  msg = '✅ Deleted successfully.';\n}\n\nreturn [{ json: { success: true, summary: msg } }];"
      },
      "id": "c0fdf209-f9c8-4d72-9a6a-b2c239a585db",
      "name": "Format Response1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7552,
        5472
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "8c59544e-1be5-47c5-9723-81132681992f",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        7776,
        5472
      ]
    },
    {
      "parameters": {
        "jsCode": "// Pre-calculate dates for AI context\nconst now = new Date();\nconst timezone = $json.body.timezone || 'Asia/Kuala_Lumpur';\n\n// Helper to format date as ISO-8601 with timezone\nfunction toISO(date) {\n  return date.toISOString().replace('Z', '+08:00');\n}\n\n// Calculate reference dates\nconst today = new Date(now);\ntoday.setHours(0, 0, 0, 0);\n\nconst tomorrow = new Date(today);\ntomorrow.setDate(tomorrow.getDate() + 1);\n\nconst nextWeek = new Date(today);\nnextWeek.setDate(nextWeek.getDate() + 7);\n\nreturn [{\n  json: {\n    ...($json),\n    context: {\n      today_date: today.toISOString().split('T')[0],\n      tomorrow_date: tomorrow.toISOString().split('T')[0],\n      next_week_date: nextWeek.toISOString().split('T')[0],\n      current_time: now.toTimeString().split(' ')[0].substring(0, 5),\n      timezone: timezone,\n      user_id: $json.body.user_id,\n      rawText: $json.body.rawText\n    }\n  }\n}];"
      },
      "id": "4020d93b-fa2d-49d0-aa77-9a70688617a4",
      "name": "Prepare Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6352,
        5472
      ]
    },
    {
      "parameters": {
        "tableId": "tasks",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "title",
              "fieldValue": "={{ $fromAI('title', 'Task title') }}"
            },
            {
              "fieldId": "description",
              "fieldValue": "={{ $fromAI('description', 'Optional task description or notes, empty string if not provided') }}"
            },
            {
              "fieldId": "due_date",
              "fieldValue": "={{ $fromAI('due_date', 'Due date as ISO-8601 like 2026-02-08T23:59:00+08:00. If only date given, append T23:59:00+08:00. Empty string if not specified.') }}"
            },
            {
              "fieldId": "priority",
              "fieldValue": "={{ $fromAI('priority', 'Priority level: low, medium, or high. Default to low if not specified') }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "todo"
            },
            {
              "fieldId": "created_by",
              "fieldValue": "={{ $('Prepare Context').item.json.context.user_id }}"
            },
            {
              "fieldId": "assignee_id",
              "fieldValue": "={{ $('Prepare Context').item.json.context.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        7216,
        5696
      ],
      "id": "0f697221-285f-4a80-bb97-3c7d8b8d2bc1",
      "name": "Create Task Tool",
      "credentials": {
        "supabaseApi": {
          "id": "t9tZXllBpQmITCOY",
          "name": "aziel supa"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "calendar_events",
        "filters": {
          "conditions": [
            {
              "keyName": "title",
              "condition": "ilike",
              "keyValue": "={{ '%' + $fromAI('event_title', 'Event title to delete') + '%' }}"
            },
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('Prepare Context').item.json.context.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        7344,
        5696
      ],
      "id": "72a83630-2bb0-46fe-8a0a-19f9f38f89ee",
      "name": "delete calendar event1",
      "credentials": {
        "supabaseApi": {
          "id": "t9tZXllBpQmITCOY",
          "name": "aziel supa"
        }
      }
    }
  ],
  "connections": {
    "List Tasks Tool1": {
      "ai_tool": [
        [
          {
            "node": "Smarty AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "list all calendar event tools": {
      "ai_tool": [
        [
          {
            "node": "Smarty AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mark Done Tool1": {
      "ai_tool": [
        [
          {
            "node": "Smarty AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger1": {
      "main": [
        [
          {
            "node": "Prepare Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Smarty AI Agent1": {
      "main": [
        [
          {
            "node": "Format Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Smarty AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create Event Tool1": {
      "ai_tool": [
        [
          {
            "node": "Smarty AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Format Response1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Context": {
      "main": [
        [
          {
            "node": "Smarty AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Task Tool": {
      "ai_tool": [
        [
          {
            "node": "Smarty AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "delete calendar event1": {
      "ai_tool": [
        [
          {
            "node": "Smarty AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "398f23e3acc16d327f5c45cd47b94faa8a99cc1090fbefa83f4ca66ed493efe3"
  }
}