n8n/SmartBoard - Let Smarty Do v4 (Direct Execute).json
{
  "name": "SmartBoard - Let Smarty Do v4 (Direct Execute)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "smarty-agent-v4",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "5843893f-52a2-43b3-9b6a-42439d958d2c",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -688,
        -192
      ],
      "webhookId": "smarty-agent-v4"
    },
    {
      "parameters": {
        "jsCode": "// Format response\nconst agentOutput = $input.first().json;\nconst toolCalls = agentOutput.intermediateSteps || [];\n\nreturn [{\n  json: {\n    success: true,\n    executed: true,\n    summary: agentOutput.output,\n    tool_calls: toolCalls,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "612facc1-6a2c-459e-9a12-85970ebccd60",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        -192
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "310809d7-4166-4f97-94c2-17effcf472a6",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        800,
        -192
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.rawText }}",
        "options": {
          "systemMessage": "You are a Data Extraction Agent.\nAnalyze the user's natural language request to create a calendar event.\nExtract the following fields and return them as a valid JSON object:\n\n- title: The event title (extract from the user's message).\n- user_id: '{{ $json.body.user_id }}'\n- start_time: The start time as a FULLY RESOLVED ISO-8601 timestamp with timezone offset.\n- end_time: The end time as a FULLY RESOLVED ISO-8601 timestamp with timezone offset.\n\nCURRENT DATE/TIME CONTEXT:\n- Today is: {{ $now.format('yyyy-MM-dd') }}\n- Current time: {{ $now.format('HH:mm') }}\n- User timezone: {{ $json.body.timezone || 'Asia/Kuala_Lumpur' }} (offset +08:00)\n\nDATE RESOLUTION RULES:\n- 'tomorrow' means: {{ $now.plus(1, 'day').format('yyyy-MM-dd') }}\n- 'today' means: {{ $now.format('yyyy-MM-dd') }}\n- 'next week' means: {{ $now.plus(7, 'day').format('yyyy-MM-dd') }}\n\nIMPORTANT:\n1. Output ACTUAL date values like '2026-02-07T08:00:00+08:00', NOT template expressions.\n2. Always include +08:00 timezone offset for Malaysia.\n3. If end_time is not specified, set it to 1 hour after start_time.\n4. Return ONLY a valid JSON object. No markdown, no code blocks, no explanation.\n\nExample output:\n{\"title\":\"Team Meeting\",\"user_id\":\"abc-123\",\"start_time\":\"2026-02-07T09:00:00+08:00\",\"end_time\":\"2026-02-07T10:00:00+08:00\"}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -464,
        -192
      ],
      "id": "297d3b99-bc16-41ed-bf2a-234b90ef29df",
      "name": "Data Extractor"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -496,
        -16
      ],
      "id": "0a81d37b-5dd0-42d4-895e-a7adbfb31482",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "vusEVQGmYnv0fM5b",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse the JSON output from the AI Agent\nconst outputString = $input.first().json.output;\nconst originalBody = $('Webhook Trigger').first().json.body;\nlet extractedData = {};\n\ntry {\n  // Clean up code blocks if present\n  const cleanJson = outputString.replace(/```json\\n?|\\n?```/g, '').trim();\n  extractedData = JSON.parse(cleanJson);\n} catch (error) {\n  extractedData = { error: \"Failed to parse JSON\" };\n}\n\n// Merge with original body to keep context\nreturn {\n  json: {\n    ...originalBody,\n    ...extractedData\n  }\n};"
      },
      "id": "4b34fe5a-f5c0-48b8-a900-70249569e962",
      "name": "Parse & Merge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        -192
      ]
    },
    {
      "parameters": {
        "tableId": "calendar_events",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "title",
              "fieldValue": "={{ $json.title }}"
            },
            {
              "fieldId": "start_time",
              "fieldValue": "={{ $json.start_time }}"
            },
            {
              "fieldId": "end_time",
              "fieldValue": "={{ $json.end_time }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Webhook Trigger').item.json.body.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        192,
        -192
      ],
      "id": "6793c013-ee12-4137-918f-938559fac5b2",
      "name": "Create a calendar events",
      "credentials": {
        "supabaseApi": {
          "id": "t9tZXllBpQmITCOY",
          "name": "aziel supa"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Data Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Extractor": {
      "main": [
        [
          {
            "node": "Parse & Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Data Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Merge": {
      "main": [
        [
          {
            "node": "Create a calendar events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a calendar events": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "398f23e3acc16d327f5c45cd47b94faa8a99cc1090fbefa83f4ca66ed493efe3"
  },
  "id": "hlkKFNI4My7XnAG_UcAcS",
  "tags": []
}